/*ESTILOS GENERALES*/
body {
  background: #d1defa;
  font-family: sans-serif, Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout {
  width: 100%;
  height: auto;
  display: grid;
  /*nuestro diseño va a tener 4 filas y 4 columnas y lo especificamos 
  en grid-template-area*/
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "content content content lateral"
    "footer footer footer footer";

  /*acontinuacion definimos las alturas de cada fila*/
  grid-template-rows: 100px 70px auto 70px;
  /*1º 2º 3º 4º*/
}

/*ESTILOS DE LA CABECERA*/
.header {
  /*Vamos a usar flexbox ennuestro
   header para organizar los elemenos*/
  grid-area: header;
  background: white;
  text-align: left;
  font-style: italic;

  display: flex;
  justify-content: center;
}

.logo {
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  /*Centramos en despues de aplicar flex a header*/
  margin-top: 30px;
}

.play {
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-left: 15px;
  margin-top: 16px;
  width: 0px;
  height: 0px;
}

.header h1

/*Titulo del encabezado*/
  {
  /*Ajustamos en header(flex)*/
  margin-left: 15px;
  margin-top: 30px;
}

/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
.nav {
  grid-area: nav;
  background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
}

.nav ul {
  /*Ajuste de elemento ul del menu de navegación*/
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav li {
  /*Ajuste de elemento li del menu de navegación*/
  padding: 10px;
}

.nav a {
  /*Ajustedeelementoadelmenudenavegación*/
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  color: white;
  font-weight: lighter;
  text-decoration: none;
  transition: all 300ms;
}

.nav a:hover {
  /*Ajustedeelementoa:;
  hoverdelmenudenavegación*/
  transform: scale(1.1, 1.1);
}

/*ESTILOS PARA EL CONTENIDO PRINCIPAL*/
.content {
  grid-area: content;
  background: #f6f7f9;

  display: flex;
  flex-flow: row wrap;
  /*Se va a comportar en forma defilas (row)
   y cuando no tengo espacio a la derecha empieza otra fila abajo (wrap)*/
  justify-content: flex-start;
  /*justify-content alinea horizontalmente*/
  align-items: flex-start;
  /*align-items alinea verticalmente*/
}

.peli-item {
  flex-grow: 1;
  /*Conseguimos que se adapten mejor las targetas(responsive)*/
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
}

button,
input[type="submit"],
input[type="button"] {
  width: 100px;
  background: #0b70e1 77%;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.peli-item .edit {
  margin-right: 7px;
}

.peli-item .edit:hover {
  background: #e77b00;
}

.peli-item .delete:hover {
  background: #9b0202;
}

/*ESTILOS PARA EL FORMULARIO EDITAR*/
.edit_form {
  margin-top: 50px;
  border-top: 1px solid #ddd;
}

.edit_form input[type="text"],
.edit_form textarea {
  display: block;
  margin: 0 auto;
  margin-top: 25px;

  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.edit_form input[type="submit"] {
  margin-top: 25px;
}

/*ESTILOS BARRA LATERAL*/
.lateral {
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
}

.lateral div {
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral textarea {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

/*ESTILOS PARA EL PIE DE PÁGINA*/
.footer {
  grid-area: footer;
  background: #d1defa;
  color: #454545;
  border-top: 1px solid white;
  text-align: left;
  line-height: 60px;
  padding-left: 25px;
}

.footer a {
  color: #0b468a;
  text-decoration: none;
}

/*RESPONSIVE: apartir de esta anchura va a pasar esto*/
@media (max-width: 1085px) {
  .content {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .peli-item {
    width: 80%;
  }
}

.no-encontrado{
  color: #9b0202;
}